@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&family=Roboto+Mono:ital,wght@0,300;0,400;1,600&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style root*/
:root{
--backgroundDark: #171618;
--backgroundMed: #191A19;
--BackgroundLight: #1C1D1C;
--BackgroundLighter: #1f201f;
--BackgroundLighter2: #2f312f;
--textRed: #fb3640;
--textGray: #232323;
--link: #c1c1b3;
--text: #EAEAEB;
--body-fonts: 'Roboto Mono', monospace;
--hero-fonts: 'Inter', sans-serif;
}

/*style typo*/
h1,
h2,
h3,
h4,
h5,
p {
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 3.5em; /* minimum value*/
  --val: 5vw; /* preferred value = 5% viewport width*/
  --max: 4.5em; /*maximum value*/
}
h2 {
  --min: 2.5em;
  --val: 5vw;
  --max: 3.5em;
}
h3 {
    --min: 2em; /* minimum value*/
    --val: 5vw; /* preferred value = 5% viewport width*/
    --max: 3em; /*maximum value*/
  }
h4 {
    --min: 1.5em;
    --val: 4vw;
    --max: 2.25em;
  }
  h5 {
    --min: 0.75em;
    --val: 4vw;
    --max: 1.25em;
  }
p {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.5em;
    font-weight: 300;
    padding-top: 3%;
}

/*style*/
body{
    background: linear-gradient(-45deg, var(--BackgroundLighter), var(--backgroundMed), var(--BackgroundLighter), var(--backgroundMed));
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    color: var(--text);
    font-family: inter;
    background-attachment: fixed;
    background-repeat: no-repeat;  
}

header{
    height: 100vh;
    position: relative;
    display: grid;
  }

header img {
    position:absolute;  
    z-index: 3;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    min-width: 30%;
    width: clamp(18rem, 60vw, 42rem);
}

#social{
font-size:clamp(1.8rem, 2rem, 2.2rem);
position: fixed;
right: 1rem;
top: 50%;
transform: translate(0, -50%);
display: flex;
flex-direction: column;
z-index: 1001;
}

#social a {
    transition: transform 0.2s ease-out;
  }
#social a:hover {
    transform: rotate(10deg);
    transition: transform 0.3s ease-in-out;
    scale: 1.05;
    color: #FB3640;
  }

#nav{
font-size:clamp(1.5rem, 1.8rem, 2rem);
font-weight: 800;
position: fixed;
left: 1rem;
top: 50%;
transform: translate(0, -50%);
z-index: 1001;
}

#nav a {
    transition: transform 0.2s ease-out;
  }
  #nav li:hover {
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
    scale: 1.05;
    color: #FB3640;
  }
#nav a:hover{
    color: #FB3640;
}
.navcontainer a{
    color: var(--link);
    text-decoration: none;
}

.navcontainer li, i{
    padding: 7%;
}

section{
height: 100%;
padding-bottom: 15%;
}

section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20%;
}

h6{
color: var(--textGray);
font-family: Roboto Mono;
font-size: 8rem;
font-style: italic;
font-weight: 700;
margin-left: -1.2rem;
}
#about{
line-height: 1.2;
}
.container{
align-items: center;
display: flex;
}

#about span:first-of-type {
    font-weight: 700;
    text-decoration:line-through ;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    transition: transform 0.2s ease-out;
}

#about span:first-of-type:hover {
    text-decoration-thickness: 8px;
}

#about span:last-of-type {
    position: relative;
    font-weight: 700;
    text-decoration:underline ;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
    transition: transform 0.2s ease-out;
    }

    #about span:last-of-type:hover {
        text-decoration-thickness: 6px;
    }

#about h5{
    max-width: 50%;
justify-content: flex-start;
padding-top: 1%;
text-align: right;
margin-left: auto;
transition: transform 0.4s ease-out;

}
#about h5:hover{
    transform: scale(1.1) rotate(0.3deg);
}

#about .skill i{
    font-size: 3rem;
}
#about .skill i:hover{
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
    scale: 1.05;
    color: var(--textRed);
}
.skill {
   display: flex;
   flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 12%;
  }
  
  .skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  .skillBox p {
    font-size:medium;
    font-style: italic;
    letter-spacing: 0.1rem;
    position: relative;
  }
  .skillBox p:before {
content: '';
border-bottom: 1rem solid var(--BackgroundLighter2);
position: relative;
display: block;
margin: 0 auto;
left: 0.5rem;
bottom: -1.5rem;
z-index: -1;
  }

#work{

}
#work .container{
}
.workcontainer, .workcontainer2{
    display: flex;
    width: 70%;
    align-items: start;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    line-height: 1.2;
    padding-inline: 5%;
    padding-bottom: 7%;
    overflow: hidden;

}
.workcontainer2{
    flex-direction: row-reverse;
}

.workdescription, .workdescription2 {
    display: flex;
    flex-direction: column;
    margin-left: -0.5rem;
    z-index: 3;
}
.workdescription2{
    margin-right: -1.5rem;
}
.workcontainer span:first-child{
    color: var(--textRed);
}
.workcontainer span:last-child{
font-weight: 800;
}
.workcontainer2 span:first-child{
    color: var(--textRed);
}
.workcontainer2 span:last-child{
font-weight: 800;
}
.workcontainer h3 {
    padding-bottom: 1rem;
}

#work img {
    transition: transform .5s ease;
}
#work .workcontainer img:hover{
    transform: scale(1.15) rotate(1deg);
    transition: transform 1s, filter 2s ease-in-out;
    filter: brightness(105%);

}
#work .workcontainer2 img:hover{
    transform: scale(1.15) rotate(-1deg);
    transition: transform 1s, filter 2s ease-in-out;
    filter: brightness(105%);

}
.workcontainer img{
    position: relative;
    width: 20rem;
    border-radius: 2px;
    border-right: 2rem solid var(--BackgroundLighter);
    border-left: 1rem solid var(--BackgroundLighter2);
}

.workcontainer2 img{
    position: relative;
    width: 25rem;
    border-radius: 2px;
    border-left: 2rem solid var(--BackgroundLighter);
    border-right: 1rem solid var(--BackgroundLighter2);

}

/* SKEW */

.skew1{
    transform: skewY(-6deg);
    background-color:var(--backgroundMed);
  height: 40%;
  bottom: 29%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  }
  .skew2{
    transform: skewY(11deg);
    background-color: var(--BackgroundLight);
  height: 30vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  }
  .skew3{
    transform: skewY(11deg);
    background-color: var(--backgroundMed);
  height: 10vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  }
  .skew4{
    transform: skewY(-6deg);
    background-color:var(--BackgroundLighter);
  height: 2%;
  bottom: 29%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  }
  .skew5{
    transform: skewY(-6deg);
    background-color:var(--BackgroundLight);
  height: 5%;
  bottom: 22%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -2;
opacity: 0.7;
  }
  .skewcontainer{
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  /*Animation*/
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}